body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 70px;
    color: #000B76;
    font-family: 'Montserrat', sans-serif;
    margin-top: 180px;
}
p, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p.white, a.white {
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#rise-container {
    height: 170vh;
}

.graph-container {
    width: 50%;
    padding: 30px;
}

strong {
    color: #000B76;
}

.text-container {
    width: 50%;
    padding: 20px;
}

.text-container {
    padding: 20px;
}

.container-double {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: inherit;
}

.container.center {
    align-items: center;
}

.svg-bottom {
    margin-top: auto;
}

.svg-top {
    margin-bottom: auto;
}
.container:nth-child(odd) {
    background-color: white;
}

.container:nth-child(even) {
    background-color: #a2d9ff;
}

#pcp-plot text{ 
    font-size: 16px;
}

.tools {
    display: flex;
    flex-direction: column;
    max-width: 45%;
}

.tools .row {
    display: flex;
}

#display {
    margin: 0;
    margin-left: 15px;
}

label, text {
    font-family: 'Montserrat', sans-serif;
}

.predictionslider {
    display: flex;
}

.predictionslider input {
    width: 52%;
}

#pcp-plot text {
    cursor: grab;
}
